$primary: #298046;

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.socialIcons { 
    color: $primary; 
}

.footer {
    margin-top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
}

.is-fullheight {
    height: 100%;
}

#dashboardMoney {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 8rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

#dashboardMoney p {
    width: 100%;
    margin-bottom: 0;
}

#dashboardMoney progress {
    width: 90%;
}
//mobile
@media only screen and (max-width: 600px) {
    #footerImage, .socialIcons, .footer {
        display: none;
    }

    #dashboardMoney {
        width: 90%;
    }

    #dashboardMoney p {
        font-size: 1.5rem;
    }
}

@import "../bulma/bulma";