$primary: #298046;
$grey: hsl(0, 0%, 83%);
$menu-item-active-background-color: $primary;
$navbar-height: 3.25rem;

h1{
    font-size: 5.5rem;
}

h2{
    font-size: 4rem;
    font-weight: 700;
}
h3{
    font-size: 2.618rem;
    font-weight: 400;
}
h4{
    font-size: 1.618rem;
    font-weight: 700;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.socialIcons { 
    color: $primary; 
}

#donutchart {
    margin-left: auto;
    margin-right: auto;
}

.footer {
    margin-top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
}

.is-fullheight {
    height: 100%;
}

.table-wrapper{
    overflow-x: auto;
}

.columns {
    &.is-fullheight {
        min-height: calc(100vh - ( #{$navbar-height} - .75rem ) );
        max-height: calc(100vh - ( #{$navbar-height} - .75rem ) );
        height: calc(100vh - ( #{$navbar-height} - .75rem ) );
        display: flex;
        flex-direction: row;
        justify-content: stretch; 

        
    }
}

.is-sidebar-menu {
    position: relative;
    background: #000000b3;
    li {
        a {
            color: white;
        }
    }
}

#leftLogo {
    height: 100px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.menu {
    padding: 1.25rem;
}

//mobile
@media only screen and (max-width: 600px) {
    #footerImage, .socialIcons, .footer {
        display: none;
    }

    #dashboardMoney {
        width: 90%;
    }

    #dashboardMoney p {
        font-size: 1.5rem;
    }

    #dashboardMobile {
        width: 90%;
    }

    .dashboardMobile {
        width: 100%;
    }

    .hidden-mobile {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 1.5rem;
    }
    h5,h4{
        font-size: 1rem;
    }

    html, body{
        font-size: 12px;
    }
}

@media only screen and (max-width: 1200px){

    .hide-desktop{
        display: none;
    }

}


//footer
.footer-icon{
    max-width: 50% !important;
}

@import "../bulma/bulma.sass";