.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
  }
  
  .single-chart {
    width: 100%;
    justify-content: space-around ;
  }
  
  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
  }
  
  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
  }
  
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.orange .circle {
    stroke: #ff9f00;
  }
  
  .circular-chart.green .circle {
    stroke: #4CC790;
  }
  
  .circular-chart.blue .circle {
    stroke: #3c9ee5;
  }

  .circular-chart.brown .circle {
    stroke: #847D00;
  }

  .circular-chart.red .circle {
    stroke: #C50000;
  }

  .circular-chart.yellow .circle {
    stroke: #FFF319;
  }
  
  .percentage {
    fill: #000;
    font-family: sans-serif;
    font-size: 4px;
    text-anchor: middle;
  }

  .circles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-content: center;
  }

  .circleText {
    color: #fff;
    background-color: rgba(0,0,0, .5);
    height: 70px;
    vertical-align: center;
  }

  section.homePage {
    background-image: url("../img/laptop.jpg");
    background-position: center;

    
  }

  @media only screen and (max-width: 950px){
    .circles {
      display: flex;
      flex-direction: column;
  
    }

    section.homePage{
      background-size: cover;
    }
    
    .circular-chart{
      width: 50%;
    }
    
  .circleText{
    max-width: 70%;
    margin: auto;
  }
  }
